/* Jeżeli używamy boostrapa użyj import (jeśli nie działa)
Jak normalego cssa to pomyśl dziesieć razy zanim to zrobisz
*/

:root {
  --icon-color: #333333;
  --icon-hover-color: #747474;
}

.nav-link {
  color: #333333 !important;
  text-decoration: none;
  position: relative;
  transition: color 0.5s ease;
}

.nav-link:hover {
  color: #747474 !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #7a7a7a;
  transition: width 0.5s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.btn-link svg {
  color: var(--icon-color);
  transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-link:hover svg {
  color: var(--icon-hover-color);
}
